
h1{
    color: blue;
    font-size: 100px;
background:lightgreen
    text-align: center;
border: 2px solid green
}
h2{
    color: rgb(123, 51, 51);

}
h3{
    color: green;
}
h4{
    color: indigo;
}
h5{
    color: Navy;
}
p{
    color: purple;
}
.btn {
    background:lightgreen;
    


    color: grey
