body{

    background: lightgreen;
    margin: 0 auto;
}

nav{
    background-color: lightblue;
    padding: 15px 20px;
    text-align: center;
}
nav ul{
    list-style: wavy
    margin 0
}
nav li{
    display : inline-block
}
nav a{
    color: black;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid black 
}
nav a:hover{
    background-color: gold;
    font-weight: 700;
}

h1{
    color: blue;
    font-size: 50px;
    font-weight: bold;
    text-align: center; 

}
h2{
    color: rgb(123, 51, 51);
    text-align: center;
}
h3{
    color: green;
    text-align: center;
}
h4{
    color: indigo;
    text-align: center;
}
h5{
    color: Navy;
    text-align: center;
}
p{
    color: purple;
    text-align: center;
}
button {
    background: black;
    color: lightblue;
}

#header-image-container{
    width: 100%; 
    text-align: center; 
    margin-top: 10px;
}

#header-image{
    border-radius: 100%; 
    width: 200px; 
    height: 200px; 
}
